page-home {
  * {
     overflow-y: hidden !important;
     overflow-x: hidden !important;
  }

 .divCombo{
   width: 100%;
   height: 75%;
 }

 .divComboImagem{
   width: 100%;
   height: 110px;
   margin-bottom: 1px !important;
 }



      ion-img{
       margin-top: 20px;
       width: 50%;
       height: 100%;
       background: #A9C5DA;
      }




   .login-content {
     background: #A9C5DA;
     text-align: center;
     height: 100%;


     .login-box {
       background: #2072A4;
       //padding: 20px 20px 0px 20px;
       width: 90%;
       height: 300px;
       margin-top: 20%;
       border-radius: 40px;
       margin-left: 5%;
     }




     h1{
       color: #ffffff;
       width: 100%;
       font-size: 30px;
       margin-top: 10px;
     }



     .label-login{
       width: 100%;
       background: #60B2D3;
       height: 50px;
       margin-top: -5px;
      border-top-right-radius: 40px;
      border-top-left-radius: 40px;
       text-align: center;
     }

     ion-row {
        align-items: center;
        text-align: center;
      }

      ion-item {

          padding-left: 30px !important;
          font-size: 0.9em;
          margin-bottom: 10px;
          border: 1px solid #ffffff;
          border-bottom: 0px !important;
          box-shadow: none !important;
      }

      .signup-col {
        margin: 0px 16px 0px 16px;
        padding-bottom: 20px;
      }

      .item-inner {
        border-bottom-color: #ffffff !important;
        box-shadow: none !important;
      }

      .submit-btn {
        background: #51CFB1;
        border-radius: 30px !important;
        border: 1px solid #ffffff;
      }

      .register-btn {
        color: #ffffff;
        font-size: 0.8em;
      }
   }


}
